SUPABASE_URL=your_supabase_url
SUPABASE_SERVICE_KEY=your_supabse_service_key
SUPABASE_ANON_KEY=your_supabase_anon_key
OPENAI_URL=your_openai_url
OPENAI_MODEL_NAME=your_openai_model_name
OPENAI_API_KEY=your_openai_api_key
